# Load Excel Spreadsheet As Pandas Dataframe

In [8]:
# import modules
import pandas as pd

In [19]:
# Import the excel file and call it xls_file
xls_file = pd.ExcelFile('/Users/chrisralbon/Dropbox (Personal)/Public/example.xls')
xls_file

In [20]:
# View the excel file's sheet names
xls_file.sheet_names

['Sheet1', 'Sheet2']

In [22]:
# Load the xls file's Sheet1 as a dataframe
df = xls_file.parse('Sheet1')
df

  FirstName LastName Location  Age
0     Jason   Miller      USA   43
1      Bill    Macoi      USA   25
2      Jane     Modi       UK   25
3      Sara     Mosi       UK   62

[4 rows x 4 columns]