# Pandas: Long To Wide Format

### import modules

In [2]:
import pandas as pd

### Create dataframe

In [68]:
raw_data = {'patient': [1, 1, 1, 2, 2], 
        'obs': [1, 2, 3, 1, 2], 
        'treatment': [0, 1, 0, 1, 0],
        'score': [6252, 24243, 2345, 2342, 23525]} 
df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score'])
df

   patient  obs  treatment  score
0        1    1          0   6252
1        1    2          1  24243
2        1    3          0   2345
3        2    1          1   2342
4        2    2          0  23525

[5 rows x 4 columns]

### Make a dataframe with the rows by patient number, the columns being by observation number, and the cell values being the score values

In [72]:
df.pivot(index='patient', columns='obs', values='score')

obs         1      2     3
patient
1        6252  24243  2345
2        2342  23525   NaN

[2 rows x 3 columns]